*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

.app{
    width: 100vw;
    height: 100vh;
    position: relative;

    .div-scroll{
        height: 100%;
        width: var(--width-text-scroll);
        overflow: auto;
        border-right: 1px solid #fff;
        position: absolute;
        z-index:  99;
        top: 0;
        right: 15%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .layout{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .btn-fullScreen{
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 100;
        }
    
        .col-left{
            width: 85%;
            height: 100%;
    
            .result{
                position: fixed;
                bottom: 10px;
                left: 10px;
                font-size: 60px;
                color: var(--color-active);
            }

            .list-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                cursor: pointer;

                img{
                    width: 50px;
                }
            }
        }
    
        .col-right{
            width: 15%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            overflow: auto;
            padding-left: 20px;

            .item {
                width: 100%;
                height: 50px;
                margin: 20px 0;
                display: flex;
                justify-content: start;
                align-items: center;
                z-index: 100;

               img {
                margin-right: 10px;
                width: 50px;
               }

               p{
                opacity: 0.4;
                margin: 0px;
               }
            }
    
            .list-option{
                width: 100%;
                height: 100%;
                padding-left: 10px;
                overflow: auto;
    
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    
        .list-button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 18%;
            bottom: 10px;
    
            .btn {
                width: 40px;
                height: 40px; 
                margin: 5px;
                background-repeat: no-repeat;
                background-position: center;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
    
    .modal {
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.none{
    display: none;
}

@media screen  and (max-width:560px){

    .div-scroll{
        right: 40% !important;
    }

    .col-left{
        width: 60% !important;
    }

    .col-right{
        width: 40% !important;
    }

    .list-button{
        right: 45% !;
    }
}